# ==========================
# DIRECTORY SETTINGS
# ==========================

BASE_DIR="$HOME/Devops/server_automation_suite"

LOG_DIR="$BASE_DIR/logs"
BACKUP_DIR="$BASE_DIR/backups"
REPORT_DIR="$BASE_DIR/reports"

# ==========================
# LOG SETTINGS
# ==========================

RETENTION_DAYS=7

# ==========================
# DISK SETTINGS
# ==========================

DISK_THRESHOLD=80

# ==========================
# SERVICES TO MONITOR
# ==========================

SERVICES="ssh cron docker nginx apache2 mysql"

# ==========================
# ALERT SETTINGS
# ==========================

ENABLE_ALERTS=true
